---
---
<div class="checkbox-wrap">
  <input type="checkbox" id="fullView">
  <label for="fullView">
    Full View
  </label>  
</div>

<style>
  .checkbox-wrap {
    display: none;
    position: relative;
  }

  .checkbox-wrap input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }

  .checkbox-wrap label {
    white-space: nowrap;
    padding: var(--space-2xs);
    border-radius: var(--border-radius);
    border: 1px solid var(--sl-color-gray-5);
  }

  .checkbox-wrap label:hover {
    cursor: pointer;
  }

   input[type="checkbox"]:checked ~ label {
    color: var(--sl-color-text-accent);
    font-weight: 600;
    border: 1px solid var(--sl-color-accent);
  }

  .checkbox-wrap input[type="checkbox"]:focus-visible + label {
    outline: 2px solid var(--sl-color-accent);
  }

  @media screen and (min-width:72rem) {
    .checkbox-wrap {
      display: block;
    }
  }
</style>


<script>
const sidebar = document.querySelector<HTMLElement>('.sidebar');
const mainFrame = document.querySelector<HTMLElement>('.main-frame');
const fullView = document.getElementById('fullView') as HTMLInputElement;
const rightSidebarPanel = document.querySelector<HTMLElement>('.right-sidebar-container');
const mainPane = document.querySelector<HTMLElement>('.main-pane');
const tocCollapseWidth = window.matchMedia("(max-width: 72rem)");

tocCollapseWidth.addEventListener("change", (e: MediaQueryListEvent) => {
  if (sidebar && mainFrame && mainPane && rightSidebarPanel && fullView) {
    if (e.matches) {
      fullView.checked = false;
      rightSidebarPanel.style.display = 'revert';
      mainPane.style.setProperty('--sl-sidebar-width', 'revert');
      sidebar.style.display = 'revert';
      mainFrame.style.setProperty('--sl-content-inline-start', 'revert');
      mainPane.classList.remove('full-view');
    } else {
      mainPane.style.removeProperty('width');
    }
  } 
});

fullView?.addEventListener('change', (e) => {
  if (sidebar && mainFrame && mainPane && rightSidebarPanel) {
		if ((e.target as HTMLInputElement).checked) {
			sidebar.style.display = 'none';
			mainFrame.style.setProperty('--sl-content-inline-start', '0rem');
      mainPane.style.width = '100%';
      rightSidebarPanel.style.display = 'none';
			mainPane.style.setProperty('--sl-sidebar-width', '0rem');
      mainPane.classList.add('full-view');
		} else {
			sidebar.style.display = 'block';
			mainFrame.style.setProperty('--sl-content-inline-start', 'revert');
      mainPane.style.removeProperty('width');
      rightSidebarPanel.style.display = 'block';
			mainPane.style.setProperty('--sl-sidebar-width', '14rem');
      mainPane.classList.remove('full-view');
		}
	}
});
</script>
